#cvs-render-vroid {
    width: 100%;
    height: 480px;
    overflow: hidden;
}

#cvs-render-vroid > canvas {
    width: 100%;
}

#broadcast {
    background-color: whitesmoke;
}

.vowel {
    background-color: #990022;
}

.vowel.active {
    background-color: #229900;
}